@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: white;
  font-family: "DM Mono", monospace;
}

/* card-list -main body */
.card-list {
  display: flex;
  padding: 3rem;
  /* overflow-x: scroll; */
}








/* 
.card-list::webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.card-list::-webkit-scrollbar-track{
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);

} */










/* card - each individual element */
.card {
  display: flex;
  position: relative;
  /* column is for content inside cards */
  flex-direction: column;
  height: 250px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border: radius 16px;
  background: #17141d;
  border-radius: 16px;
  /* 1st value represent horizontal offset.negative value
 makes shadow on right */
  box-shadow: -1rem 0 3rem #000;

  transition: .2s;
}





.card:hover{
    transform: translateY(-1rem);

}
/* select all siblings after the hovered card */
/* ~ is called general sibling combinator (not selecting the element itself)*/
.card:hover~.card{

transform: translateX(130px);

}
/* :NOT - negation,do the opposite */
.card:not(:first-child){
    /* to remove gap between elements while hovering over the card*/
    margin-left: -130px;
}





.card-author {
    position: relative;
    display: grid;
    /* to make column responsive */
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 3rem 0 0 ;
}

.author-avatar img{
    /* images is originally inline  */
    display: block;
    width:40px;
    height: 40px;
    border-radius:50%;
    /* filter: grayscale(100%); */
    /* for making black and white image */
    overflow: hidden;
    margin: 16px 10px;

}
/* targetting svg */
.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    /* fill none makes svg transparent */
    fill: none;
    stroke: #ff8a00;
    stroke-width:8;
    /* for rounded edge */
    stroke-linecap:round;
    pointer-events: none;

}

.author-name-prefix{
    font-style: normal;
    font-weight: 700;
    color:#7a7a8c;

}
.card-header h2:hover{
    background: linear-gradient(90deg,orange, rgb(253, 105, 130));
    text-shadow: none;
    backgrond-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tags{
    margin:1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border:3px solid #28242f;
    border-radius:2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}
.tags a:hover{
    background:linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;

}
